In [48]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Analysis and plotting from data extracted from sfcrime database

First, let's dump the data that we extracted from the spark dataframe

In [49]:
auto_crime_data = [
 ['2003', 149176, 5276, 6895, 12171, 0.08159, 61933, 138, 179, 0.00512],
 ['2004', 148471, 4922, 6735, 11657, 0.07851, 58232, 137, 161, 0.00512],
 ['2005', 142591, 4045, 8989, 13034, 0.09141, 52282, 79, 129, 0.00398],
 ['2006', 138247, 4604, 10835, 15439, 0.11168, 52823, 156, 158, 0.00594],
 ['2007', 138006, 3578, 10196, 13774, 0.09981, 57347, 138, 211, 0.00609],
 ['2008', 141670, 3225, 9273, 12498, 0.08822, 60706, 77, 204, 0.00463],
 ['2009', 140215, 2587, 9197, 11784, 0.08404, 63067, 66, 181, 0.00392],
 ['2010', 133868, 1697, 8301, 9998, 0.07469, 58162, 80, 93, 0.00297],
 ['2011', 133094, 1719, 8890, 10609, 0.07971, 55727, 84, 136, 0.00395],
 ['2012', 141267, 3058, 10456, 13514, 0.09566, 51030, 100, 68, 0.00329],
 ['2013', 153166, 4126, 14578, 18704, 0.12212, 62496, 170, 74, 0.0039],
 ['2014', 150518, 4232, 17375, 21607, 0.14355, 54631, 139, 76, 0.00394],
 ['2015', 156927, 4968, 20562, 25530, 0.16269, 45798, 134, 74, 0.00454],
 ['2016', 151297, 4590, 19714, 24304, 0.16064, 42921, 122, 69, 0.00445],
 ['2017', 155254, 5114, 25685, 30799, 0.19838, 38148, 145, 109, 0.00666]]

In [50]:
auto_crime_columns = ['year', 'total_crime_ct', 'car_theft_petty_ct', 
                      'car_theft_grand_ct', 'car_theft_tot_ct', 'car_theft_fraction',
                      'total_resolved_ct', 'petty_resolve_ct', 'grand_resolved_ct', 
                      'car_resolved_fraction']

## Turn into pandas dataframe

In [51]:
crime_pd = pd.DataFrame(data=auto_crime_data, columns=auto_crime_columns)

In [53]:
crime_pd = crime_pd.set_index('year')
crime_pd

,total_crime_ct,car_theft_petty_ct,car_theft_grand_ct,car_theft_tot_ct,car_theft_fraction,total_resolved_ct,petty_resolve_ct,grand_resolved_ct,car_resolved_fraction
year,,,,,,,,,
2003,149176,5276,6895,12171,0.08159,61933,138,179,0.00512
2004,148471,4922,6735,11657,0.07851,58232,137,161,0.00512
2005,142591,4045,8989,13034,0.09141,52282,79,129,0.00398
2006,138247,4604,10835,15439,0.11168,52823,156,158,0.00594
2007,138006,3578,10196,13774,0.09981,57347,138,211,0.00609
2008,141670,3225,9273,12498,0.08822,60706,77,204,0.00463
2009,140215,2587,9197,11784,0.08404,63067,66,181,0.00392
2010,133868,1697,8301,9998,0.07469,58162,80,93,0.00297
2011,133094,1719,8890,10609,0.07971,55727,84,136,0.00395
2012,141267,3058,10456,13514,0.09566,51030,100,68,0.00329
2013,153166,4126,14578,18704,0.12212,62496,170,74,0.00390
2014,150518,4232,17375,21607,0.14355,54631,139,76,0.00394
2015,156927,4968,20562,25530,0.16269,45798,134,74,0.00454
2016,151297,4590,19714,24304,0.16064,42921,122,69,0.00445
2017,155254,5114,25685,30799,0.19838,38148,145,109,0.00666

In [16]:
mission_crime_data = [
 ['2003', 8976, 140200],
 ['2004', 8906, 139565],
 ['2005', 8523, 134068],
 ['2006', 8298, 129949],
 ['2007', 8260, 129746],
 ['2008', 9019, 132651],
 ['2009', 8441, 131774],
 ['2010', 8009, 125859],
 ['2011', 7662, 125432],
 ['2012', 7718, 133549],
 ['2013', 8419, 144747],
 ['2014', 8081, 142437],
 ['2015', 7404, 149523],
 ['2016', 7649, 143648],
 ['2017', 8150, 147104]]
    
mission_columns = ['year', 'crimes_in_mission', 'crimes_out_of_mission']

In [18]:
mission_crime_by_year = [
 ['2003', 149176, 8976, 1008, 7968, 16967, 123233, 0.1123, 0.1205],
 ['2004', 148471, 8906, 1085, 7821, 16497, 123068, 0.12183, 0.11842],
 ['2005', 142591, 8523, 999, 7524, 15349, 118719, 0.11721, 0.11465],
 ['2006', 138247, 8298, 1094, 7204, 16698, 113251, 0.13184, 0.1287],
 ['2007', 138006, 8260, 1068, 7192, 16735, 113011, 0.1293, 0.129],
 ['2008', 141670, 9019, 1170, 7849, 17066, 115585, 0.12973, 0.12872],
 ['2009', 140215, 8441, 1088, 7353, 16212, 115562, 0.12889, 0.12338],
 ['2010', 133868, 8009, 934, 7075, 16107, 109752, 0.11662, 0.1273],
 ['2011', 133094, 7662, 978, 6684, 16078, 109354, 0.12764, 0.12815],
 ['2012', 141267, 7718, 1107, 6611, 16401, 117148, 0.14343, 0.12394],
 ['2013', 153166, 8419, 1235, 7184, 17121, 127626, 0.14669, 0.11984],
 ['2014', 150518, 8081, 1089, 6992, 16403, 126034, 0.13476, 0.11621],
 ['2015', 156927, 7404, 1194, 6210, 17302, 132221, 0.16126, 0.11786],
 ['2016', 151297, 7649, 1123, 6526, 17319, 126329, 0.14682, 0.12189],
 ['2017', 155254, 8150, 1260, 6890, 17384, 129720, 0.1546, 0.12009]]

mission_crime_columns = ['year', 'total_crimes', 'crimes_in_mission', 
                         'viol_in_mission', 'nonviol_in_mission', 
                         'viol_ex_mission', 'nonviol_ex_mission',
                         'fraction_viol_mision', 'fraction_viol_exmission']

In [25]:
crime_by_timeofday = [
['2003',6785,3937,3519,2288,1572,1326,2104,3815,5844,6376,6739,6411,9168,7386,7508,8049,
  8318,9107,9722,8563,7574,7553,7954,7558],
 ['2004',7308,3966,3382,2227,1565,1426,2152,3869,5932,6143,6743,6812,8749,7407,
  7790,
  7847,
  8096,
  9112,
  9398,
  8058,
  7446,
  7551,
  8007,
  7485],
 ['2005',
  6993,
  3965,
  3391,
  2230,
  1637,
  1377,
  2135,
  3817,
  5964,
  6088,
  6305,
  6460,
  8414,
  6818,
  7156,
  7495,
  7847,
  8797,
  8876,
  8007,
  7132,
  7032,
  7560,
  7095],
 ['2006',
  7001,
  3941,
  3431,
  2166,
  1486,
  1405,
  1998,
  3579,
  5526,
  5947,
  6277,
  6057,
  8635,
  6712,
  7012,
  7544,
  7933,
  8357,
  8510,
  7428,
  6746,
  6695,
  7117,
  6744],
 ['2007',
  6851,
  4101,
  3449,
  2110,
  1516,
  1364,
  2065,
  3419,
  5259,
  5688,
  6041,
  6028,
  8392,
  6854,
  7224,
  7459,
  7754,
  8424,
  8558,
  7617,
  6969,
  6834,
  7328,
  6702],
 ['2008',
  7626,
  4275,
  3625,
  2249,
  1617,
  1322,
  2252,
  3730,
  5310,
  5618,
  5968,
  6101,
  8114,
  7357,
  7697,
  8060,
  8356,
  8753,
  8557,
  7517,
  7014,
  6742,
  7072,
  6738],
 ['2009',
  7648,
  4479,
  3947,
  2258,
  1602,
  1130,
  2239,
  3808,
  5298,
  5783,
  6077,
  6055,
  8384,
  7176,
  7468,
  7767,
  8000,
  8198,
  8431,
  7238,
  6732,
  6706,
  7265,
  6526],
 ['2010',
  7501,
  4182,
  3555,
  2124,
  1475,
  1224,
  2008,
  3322,
  4825,
  5341,
  5640,
  5642,
  7837,
  6417,
  6557,
  7314,
  7652,
  8157,
  8286,
  7682,
  6993,
  6479,
  7046,
  6609],
 ['2011',
  7831,
  4235,
  3608,
  2113,
  1500,
  1454,
  1998,
  3044,
  5003,
  5204,
  5503,
  5862,
  7814,
  6249,
  6613,
  7155,
  7554,
  8002,
  8180,
  7283,
  6889,
  6440,
  6833,
  6727],
 ['2012',
  7790,
  4606,
  3588,
  2302,
  1579,
  1480,
  2139,
  3186,
  5035,
  5324,
  5734,
  6037,
  8274,
  6712,
  6954,
  7845,
  8217,
  8752,
  9200,
  8152,
  7283,
  7047,
  7397,
  6634],
 ['2013',
  8147,
  4860,
  3848,
  2483,
  1760,
  1648,
  2340,
  4037,
  5467,
  6090,
  6400,
  6584,
  9081,
  7570,
  7710,
  8327,
  8598,
  9349,
  9751,
  8825,
  7868,
  7498,
  7791,
  7134],
 ['2014',
  7239,
  4362,
  3646,
  2540,
  1711,
  1644,
  2200,
  3557,
  5139,
  5864,
  6226,
  6484,
  8835,
  7135,
  7386,
  8125,
  8694,
  9395,
  9881,
  9119,
  8467,
  7782,
  7950,
  7137],
 ['2015',
  8033,
  4581,
  3720,
  2651,
  1840,
  1715,
  2319,
  3756,
  5289,
  6185,
  6495,
  6955,
  9603,
  7573,
  7401,
  8254,
  8763,
  9568,
  10565,
  9666,
  8754,
  8020,
  8035,
  7186],
 ['2016',
  7065,
  4373,
  3505,
  2556,
  1895,
  1753,
  2525,
  3918,
  5617,
  5902,
  6503,
  6824,
  9113,
  7297,
  7658,
  8360,
  8678,
  9604,
  9739,
  9010,
  8120,
  7514,
  7140,
  6628],
 ['2017',
  7453,
  4229,
  3443,
  2578,
  2006,
  1652,
  2383,
  3670,
  5390,
  6039,
  6875,
  7335,
  9753,
  7728,
  7759,
  8289,
  8641,
  9387,
  10475,
  9547,
  8652,
  7690,
  7672,
  6608]]

In [40]:
cols = list(range(0,24))
cols.insert(0, 'year')
crimetime_pd = pd.DataFrame(data=crime_by_timeofday, columns=cols)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
year,,,,,,,,,,,,,,,,,,,,,
2003,6785,3937,3519,2288,1572,1326,2104,3815,5844,6376,...,7508,8049,8318,9107,9722,8563,7574,7553,7954,7558
2004,7308,3966,3382,2227,1565,1426,2152,3869,5932,6143,...,7790,7847,8096,9112,9398,8058,7446,7551,8007,7485
2005,6993,3965,3391,2230,1637,1377,2135,3817,5964,6088,...,7156,7495,7847,8797,8876,8007,7132,7032,7560,7095
2006,7001,3941,3431,2166,1486,1405,1998,3579,5526,5947,...,7012,7544,7933,8357,8510,7428,6746,6695,7117,6744
2007,6851,4101,3449,2110,1516,1364,2065,3419,5259,5688,...,7224,7459,7754,8424,8558,7617,6969,6834,7328,6702
2008,7626,4275,3625,2249,1617,1322,2252,3730,5310,5618,...,7697,8060,8356,8753,8557,7517,7014,6742,7072,6738
2009,7648,4479,3947,2258,1602,1130,2239,3808,5298,5783,...,7468,7767,8000,8198,8431,7238,6732,6706,7265,6526
2010,7501,4182,3555,2124,1475,1224,2008,3322,4825,5341,...,6557,7314,7652,8157,8286,7682,6993,6479,7046,6609
2011,7831,4235,3608,2113,1500,1454,1998,3044,5003,5204,...,6613,7155,7554,8002,8180,7283,6889,6440,6833,6727
2012,7790,4606,3588,2302,1579,1480,2139,3186,5035,5324,...,6954,7845,8217,8752,9200,8152,7283,7047,7397,6634
2013,8147,4860,3848,2483,1760,1648,2340,4037,5467,6090,...,7710,8327,8598,9349,9751,8825,7868,7498,7791,7134
2014,7239,4362,3646,2540,1711,1644,2200,3557,5139,5864,...,7386,8125,8694,9395,9881,9119,8467,7782,7950,7137
2015,8033,4581,3720,2651,1840,1715,2319,3756,5289,6185,...,7401,8254,8763,9568,10565,9666,8754,8020,8035,7186
2016,7065,4373,3505,2556,1895,1753,2525,3918,5617,5902,...,7658,8360,8678,9604,9739,9010,8120,7514,7140,6628
2017,7453,4229,3443,2578,2006,1652,2383,3670,5390,6039,...,7759,8289,8641,9387,10475,9547,8652,7690,7672,6608

In [45]:
crimetime_pd = crimetime_pd.set_index('year')

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
year,,,,,,,,,,,,,,,,,,,,,
2003,6785,3937,3519,2288,1572,1326,2104,3815,5844,6376,...,7508,8049,8318,9107,9722,8563,7574,7553,7954,7558
2004,7308,3966,3382,2227,1565,1426,2152,3869,5932,6143,...,7790,7847,8096,9112,9398,8058,7446,7551,8007,7485
2005,6993,3965,3391,2230,1637,1377,2135,3817,5964,6088,...,7156,7495,7847,8797,8876,8007,7132,7032,7560,7095
2006,7001,3941,3431,2166,1486,1405,1998,3579,5526,5947,...,7012,7544,7933,8357,8510,7428,6746,6695,7117,6744
2007,6851,4101,3449,2110,1516,1364,2065,3419,5259,5688,...,7224,7459,7754,8424,8558,7617,6969,6834,7328,6702
2008,7626,4275,3625,2249,1617,1322,2252,3730,5310,5618,...,7697,8060,8356,8753,8557,7517,7014,6742,7072,6738
2009,7648,4479,3947,2258,1602,1130,2239,3808,5298,5783,...,7468,7767,8000,8198,8431,7238,6732,6706,7265,6526
2010,7501,4182,3555,2124,1475,1224,2008,3322,4825,5341,...,6557,7314,7652,8157,8286,7682,6993,6479,7046,6609
2011,7831,4235,3608,2113,1500,1454,1998,3044,5003,5204,...,6613,7155,7554,8002,8180,7283,6889,6440,6833,6727
2012,7790,4606,3588,2302,1579,1480,2139,3186,5035,5324,...,6954,7845,8217,8752,9200,8152,7283,7047,7397,6634
2013,8147,4860,3848,2483,1760,1648,2340,4037,5467,6090,...,7710,8327,8598,9349,9751,8825,7868,7498,7791,7134
2014,7239,4362,3646,2540,1711,1644,2200,3557,5139,5864,...,7386,8125,8694,9395,9881,9119,8467,7782,7950,7137
2015,8033,4581,3720,2651,1840,1715,2319,3756,5289,6185,...,7401,8254,8763,9568,10565,9666,8754,8020,8035,7186
2016,7065,4373,3505,2556,1895,1753,2525,3918,5617,5902,...,7658,8360,8678,9604,9739,9010,8120,7514,7140,6628
2017,7453,4229,3443,2578,2006,1652,2383,3670,5390,6039,...,7759,8289,8641,9387,10475,9547,8652,7690,7672,6608